# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
lib/
lib64/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
.env/
venv/

# Secrets
secrets.*