lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.grunt

node_modules/
build/assets
build/application.js
dependencies/compiled
dependencies/bower_components
test/runner.html
.sass-cache
