.init-title{
  color:white;
  text-align:center;
}

.bubblingG {
  margin-left: auto;
  margin-right: auto; 
  width:200px;
  height:125px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 25px;
height: 25px;
margin: 63px auto;
background: #0083EA;
-moz-border-radius: 125px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 125px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 125px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 125px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 125px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 25px;
height: 25px;
background-color:#0083EA;
-moz-transform: translateY(0);
}

100% {
width: 60px;
height: 60px;
background-color:#254966;
-moz-transform: translateY(-53px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 25px;
height: 25px;
background-color:#0083EA;
-webkit-transform: translateY(0);
}

100% {
width: 60px;
height: 60px;
background-color:#254966;
-webkit-transform: translateY(-53px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 25px;
height: 25px;
background-color:#0083EA;
-ms-transform: translateY(0);
}

100% {
width: 60px;
height: 60px;
background-color:#254966;
-ms-transform: translateY(-53px);
}

}

@-o-keyframes bubblingG {
0% {
width: 25px;
height: 25px;
background-color:#0083EA;
-o-transform: translateY(0);
}

100% {
width: 60px;
height: 60px;
background-color:#254966;
-o-transform: translateY(-53px);
}

}

@keyframes bubblingG {
0% {
width: 25px;
height: 25px;
background-color:#0083EA;
transform: translateY(0);
}

100% {
width: 60px;
height: 60px;
background-color:#254966;
transform: translateY(-53px);
}

}