<article>
	<div class="row">
		<div class="col-lg-4">
			<ul>
				{{#each}}
					<li>
						<div>
							Nome: {{name}}<br>
							Comentário: {{comment}}<br>
							Criado: {{created}}<br>
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="col-lg-8">

		</div>
	</div>
</article>