{{partial "reusable/header"}}
<article role="header">
  <div id="mainCarousel" class="carousel slide" data-ride="darousel">
    <ol class="carousel-indicators">
      <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mainCarousel" data-slide-to="1"></li>
      <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="" data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Primeiro slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Crie e Compartilhe seus treinos</h1>
            <p>Mostre do que é capaz!</p>
            <button class="btn btn-primary big">Criar Treino</button>
            <hr>
          </div>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Segundo Slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Crie e Comartilhe seus treinos!</h1>
            <p>Crie e compartilhe agora mesmo</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Terceiro Slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Crie e Comartilhe seus treinos!</h1>
            <p>Crie e compartilhe agora mesmo</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</article>
<div class="container main-container">
  <article>
    <div class="row">
      <div class="col-lg-4 text-center">
        <h2>Top Treinos</h2>
        <ul class="list-unstyled">
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
        </ul>       
      </div>
      <div class="col-lg-4 text-center">
        <h2>Novos Treinos</h2>
        <ul class="list-unstyled">
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 text-center">
        <h2>Top Users</h2>
        <ul class="list-unstyled">
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>
</div>