{{partial "reusable/header"}}
<article>
<div class="background background-image">
  <div>
    <div class="container">
      <div class="center-image">
        <img src="assets/imgs/instructions.svg" alt="Compartilhe seus treinos!"></img>
      </div>
      <div class="caption">
        <h1>Crie e Compartilhe seus treinos</h1>
        <p>Mostre do que é capaz!</p>
        {{#link-to 'trains.new' class="btn btn-primary big"}}Criar Treino{{/link-to}}
        <hr>
      </div>
    </div>
  </div>
</div>
</article>
<!--div class="background">
<div class="container main-container">
  <article>
  <div class="row">
    <div class="col-lg-4 text-center">
      <h2>Top Treinos</h2>
      <ul class="list-unstyled">
        <li class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Treino do Arnold</h4>
          </div>
          <div class="panel-body">
            <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
          </div>
        </li>
        <li class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Treino do Arnold</h4>
          </div>
          <div class="panel-body">
            <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 text-center">
      <h2>Novos Treinos</h2>
      <ul class="list-unstyled">
        <li class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Treino do Arnold</h4>
          </div>
          <div class="panel-body">
            <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
          </div>
        </li>
        <li class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Treino do Arnold</h4>
          </div>
          <div class="panel-body">
            <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 text-center">
      <h2>Top Users</h2>
      <ul class="list-unstyled">
        <li class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Treino do Arnold</h4>
          </div>
          <div class="panel-body">
            <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
          </div>
        </li>
        <li class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Treino do Arnold</h4>
          </div>
          <div class="panel-body">
            <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </article>
</div>
</div-->