<header>
  <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Esconder barra de navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'index' class='navbar-brand'}}GymUp{{/link-to}}
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'index'}}<i class="fa fa-home"></i> Home{{/link-to}}</li>
          <!--li><a href="" id="index_nav_btn"><i class="fa fa-compass"></i> Explorar</a></li-->
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Explore <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>{{#link-to 'exercises'}}Lista de exercícios{{/link-to}}</li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</header>