//Pallete link: http://adobe.ly/1doe4fG

$base0: #0083ea;
$base1: #87caff;
$base2: #79b6e5;
$base3: #254966;
$base4: #5e8db2;

$fontBase03: #002b36;
$fontBase02: #073642;
$fontBase01: #586e75;
$fontBase00: #657b83;
$fontBase0: #839496;
$fontBase1: #93a1a1;
$fontBase2: #eee8d5;
$fontBase3: #fdf6e3;

$danger: #d9534f;