/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body { height: 100%; padding-top: 60px; }

/* line 18, ../sass/screen.scss */
body, input, button, select, textarea, .navbar-search .search-query { font-family: 'Source Sans Pro', sans-serif; font-weight: 200; font-size: 1.6em; }

/* line 24, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Source Sans Pro', sans-serif; font-weight: 600; }

/* line 76, ../sass/screen.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

/* line 80, ../sass/screen.scss */
.padding-bottom { padding-bottom: 15px; }

/* line 84, ../sass/screen.scss */
.col-lg-0 { width: 0; margin-left: 0; }

/* line 89, ../sass/screen.scss */
.navbar-wrapper { position: absolute; top: 0; left: 0; right: 0; z-index: 20; }
/* line 96, ../sass/screen.scss */
.navbar-wrapper .container { padding-left: 0; padding-right: 0; }
/* line 101, ../sass/screen.scss */
.navbar-wrapper .navbar { padding-left: -15px; padding-right: -15px; }

/* line 107, ../sass/screen.scss */
.navbar-default { background-color: #edf7ff; border-color: #0083ea; }
/* line 110, ../sass/screen.scss */
.navbar-default .navbar-brand { color: #0083ea; font-weight: 400; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
/* line 116, ../sass/screen.scss */
.navbar-default .navbar-brand:hover { color: #87caff; text-shadow: 1px 1px rgba(255, 255, 255, 0.2); }

/* line 123, ../sass/screen.scss */
.navbar-default .navbar-nav > li a { color: #586e75; text-shadow: 1px 1px rgba(255, 255, 255, 0.2); }
/* line 127, ../sass/screen.scss */
.navbar-default .navbar-nav > li a:hover { color: #002b36; }
/* line 131, ../sass/screen.scss */
.navbar-default .navbar-nav > li a:active { color: #586e75; }
/* line 135, ../sass/screen.scss */
.navbar-default .navbar-nav > li a:visited { color: #586e75; }

/* line 140, ../sass/screen.scss */
.carousel { height: auto; margin-bottom: 60px; }
/* line 144, ../sass/screen.scss */
.carousel .item { background-color: #254966; height: 100%; }
/* line 147, ../sass/screen.scss */
.carousel .item .img { position: absolute; top: 0; left: 0; min-width: 100%; height: 500px; }

/* line 157, ../sass/screen.scss */
.carolsel-caption { z-index: 10; }

/* line 161, ../sass/screen.scss */
.btn-primary { background-color: #0083ea; color: #fdf6e3; width: 150px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; border: none; }

/* line 169, ../sass/screen.scss */
.btn-primary:hover { background-color: #87caff; width: 170px; text-shadow: 1px 2px rgba(0, 0, 0, 0.2); }

/* line 175, ../sass/screen.scss */
.big { font-size: 1.5em !important; }

/* line 179, ../sass/screen.scss */
.panel-primary { border: none; }
/* line 180, ../sass/screen.scss */
.panel-primary .panel-heading { background-color: #0083ea; border: 1px solid #0083ea; }

/* line 187, ../sass/screen.scss */
.open-panel { padding: 0px; border: none; }
/* line 191, ../sass/screen.scss */
.open-panel .panel { margin: 0px; margin-bottom: 1px; border: 1px solid #0083ea; }

/* line 199, ../sass/screen.scss */
.panel-title .label-primary { color: #0083ea; background-color: #87caff; padding: 0.4em 0.6em 0.4em; }

/* line 206, ../sass/screen.scss */
.label { margin-bottom: 50px; }

/* line 210, ../sass/screen.scss */
.withFooter { padding-bottom: 0px !important; }

/* line 215, ../sass/screen.scss */
.list-group-item.clickable { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; cursor: pointer; }

/* line 220, ../sass/screen.scss */
.list-group-item.clickable:hover { background-color: #87caff; }

/* line 224, ../sass/screen.scss */
.list-group-item.clickable:active { background-color: #0083ea; }

/* line 228, ../sass/screen.scss */
.btnFooter { display: block; overflow: hidden; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; background-color: #5e8db2; color: #fdf6e3; }

/* line 236, ../sass/screen.scss */
.btnFooter:hover { background-color: #254966; }

@media (min-width: 768px) { /* line 241, ../sass/screen.scss */
  .navbar-wrapper { margin-top: 20px; }
  /* line 244, ../sass/screen.scss */
  .navbar-wrapper .container { padding-right: 15px; padding-left: 15px; }
  /* line 249, ../sass/screen.scss */
  .navbar-wrapper .navbar { padding-left: 0; padding-right: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
  /* line 256, ../sass/screen.scss */
  .navbar-nav.navbar-right:last-child { margin-right: 15px; }
  /* line 260, ../sass/screen.scss */
  .navbar-form { padding-right: 30px; }
  /* line 264, ../sass/screen.scss */
  .carousel-caption p { margin-bottom: 20px; font-size: 2em; line-height: 1.4; }
  /* line 270, ../sass/screen.scss */
  .main-container { height: 100%; }
  /* line 274, ../sass/screen.scss */
  .btnFooter { max-height: 0px; }
  /* line 278, ../sass/screen.scss */
  .withFooter:hover .btnFooter { max-height: 50px; } }
