{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}TrainTool - GymUP{% endblock %}
{%block extrahead%}
<style>
  body{
    height:100%;
    background:url("{%static 'img/pattern.png'%}") repeat;
  }
</style>
{%endblock%}
{%block content%}
<header>
  <div class="navbar-wrapper">
    <div class='container'>
      <nav class="navbar navbar-static-top navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Esconder barra de navegação</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">GymUp</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse" id="menu">
            <ul class="nav navbar-nav">
              <li><a href="" id="index_nav_btn"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="" id="index_nav_btn"><i class="fa fa-compass"></i> Explorar</a></li>
            </ul>
            <form class="navbar-form navbar-right hide" role="login" id="login_nav_form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="login">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="senha">
              </div>
              <button type="submit" class="btn btn-default">Login</button>
            </form>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Menu <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Criar novo treino</a></li>
                  <li><a href="#">Perfil</a></li>
                  <li><a href="#">Convidar amigo</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" id="login_toggle">Login</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>
    </div>
  </div>
  <div id="mainCarousel" class="carousel slide" data-ride="darousel">
    <ol class="carousel-indicators">
      <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#mainCarousel" data-slide-to="1"></li>
      <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="{%static 'img/slide-0.jpg'%}" data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Primeiro slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Crie e Compartilhe seus treinos</h1>
            <p>Mostre do que é capaz!</p>
            <button class="btn btn-primary big">Criar Treino</button>
            <hr>
          </div>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Segundo Slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Crie e Comartilhe seus treinos!</h1>
            <p>Crie e compartilhe agora mesmo</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="Terceiro Slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Crie e Comartilhe seus treinos!</h1>
            <p>Crie e compartilhe agora mesmo</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</header>
<div class="container main-container">
  <article>
    <div class="row">
      <div class="col-lg-4 text-center">
        <h2>Top Treinos</h2>
        <ul class="list-unstyled">
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
        </ul>       
      </div>
      <div class="col-lg-4 text-center">
        <h2>Novos Treinos</h2>
        <ul class="list-unstyled">
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 text-center">
        <h2>Top Users</h2>
        <ul class="list-unstyled">
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
          <li class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">Treino do Arnold</h4>
            </div>
            <div class="panel-body">
              <p>Treino histórico promovido pelo maior fisiculturista de todos os tempos.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <footer>
    <div class="footer">
      <p class="text-right">&copy; <a href="http://www.aeho.com.br" target="_black">Aeho 2014</a></p>
    </div>
  </footer>
</div>
{%endblock%}
{%block scripts%}
  <script src="{%static 'js/index.js'%}"></script>
{%endblock%}